/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'main-font';
    src: url('/assets/fonts/Merienda-VariableFont_wght.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'main-font';
}

body {
    background-color: rgb(14 17 45);
    color: #fff;
}